gambit
**/*_standalone
**/CMakeLists.txt
*.slha
*_personal.yaml
**/examples/standalone_functors.cpp
**/include/gambit/**/**_rollcall.hpp
all_functor_types.hpp
cmake_variables.hpp
config/*_locations.yaml
build/**
scratch/**
runs/**
results/**
contrib/**/Makefile
Backends/downloaded/**
Backends/installed/**
