# GAMBIT central backend location database
#
# GAMBIT will parse this file and use it to locate
# backend shared libraries before attempting to 
# dynamically load them.  
#
# Paths can be given as full absolute paths, or 
# relative to the main GAMBIT directory.  Paths 
# starting with a backslash will be interpreted as 
# absolute, those beginning with a period will
# be interpreted as relative to the GAMBIT dir.


DarkSUSY: 
  0.1:         ./Backends/lib/libdarksusy.so
  5.0.5:       ./Backends/lib/libdarksusy.so
  6.0.0:        /sometime/soon/maybe

BOSSMinimalExample:
  1.0:         ./Backends/lib/libminimal_1_0.so
  1.1:         ./Backends/lib/libminimal_1_1.so
  1.2:         ./Backends/lib/libminimal_1_2.so

DDCalc0:
  0.0:         ./Backends/lib/libDDCalc0.so

HiggsBounds:
  4.1:         ./Backends/lib/libhiggsbounds.so

HiggsSignals:
  1.2:         ./Backends/lib/libhiggssignals.so

FeynHiggs:
  2.10:         ./Backends/lib/libfeynhiggs.so

LibFarrayTest:
  1.0:         ./Backends/lib/libFarrayTest.so

FastSim:
  1.0:         ./Backends/lib/libfastsim.so

LibFirst:
  1.0:         ./Backends/lib/libfirst.so
  1.1:         ./Backends/lib/libfirst.so

LibFortran:
  1.0:         ./Backends/lib/libfortran.so

Pythia:
  8.186:       ./Backends/lib/libpythia8.so

SuperIso:
  3.4:         ./Backends/lib/libsuperiso.so

gamLike:
  1.0.0:       ./Backends/lib/libgamLike.so

micromegas:
  0.1:         ./Backends/lib/libmicromegas.so

nulike:
  1.0.0:       ./Backends/lib/libnulike.so

SUSYHIT:
  0.1:         ./Backends/lib/libsusyhit.so
  1.4:         ./Backends/lib/libsusyhit.so

